.quiz {
  width: 100% !important;
  height: 410px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
  margin-bottom: 30px;
  background-color: #79c796;
}
.quiz img {
  width: 100% !important;
  height: 286px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 !important;
}
.quiz-info {
  margin: 0 14px;
}
.quiz-info p {
  margin-bottom: 0;
  margin-top: 5px;
}
.quiz-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-top: 7px;
}
.btn-card {
  width: 100%;
  background: #3136bf47;
  font-weight: bold;
  border: none;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  font-size: 15px;
  text-transform: uppercase;
}
