.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(13, 154, 65, 0.554);
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 2px;
    
}

.header-link a{
    text-decoration: none;
    margin-right: 20px;
    color:white;
    font-size: 20px;
}